Task 4: селекты и агрегации
Хорошо. Теперь мы очистили наши данные: все дубликаты и все пропущенные значения удалены, а столбцы перестроены для более удобного анализа. Давайте продолжим нашу работу. У нас есть еще много вопросов, на которые необходимо найти ответы.

Загрузите в пакет данных файл JSON, который вы создали в предыдущем упражнении.

Установите CarNumber в качестве индексного столбца.
Выполните следующие срезы:

отобразить только те строки, где значения fines превышают 2100;
отобразить только те строки, где значения fines превышают 2100, а значение refund равно 2;
отобразить только те строки, в которых указаны модели из следующего списка: ['Focus', 'Corolla'];
отобразить только те строки, в которых указан регистрационный номер автомобиля из списка: ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'].
Произведите агрегации с маркой и моделью:

отобразите медианные штрафы в разрезе только марок (марка – медианный штраф внутри этой марки);
отобразите медианные штрафы, сгруппированные по маркам и моделям (комбинация марка и модель – медианный штраф этой комбинации);
отобразите количество штрафов, имеющихся в группировках по маркам и моделям, чтобы понять, можно ли доверять полученным медианным значениям;
отобразите минимальные и максимальные штрафы, сгруппированные по маркам и моделям для того, чтобы лучше понять вариацию;
отобразите стандартное отклонение штрафов, сгруппированных по маркам и моделям для того, чтобы лучше понять вариацию.
Произведите агрегации с регистрационным номером автомобиля:

отобразите регистрационные номера автомобилей, сгруппированные по количеству штрафов в порядке убывания (мы хотим найти тех, кто чаще всего нарушал правила дорожного движения);
выберите из исходного датафрейма все строки, соответствующие регистрационному номеру с самым большим количеством нарушений (мы хотим проанализировать эти данные более подробно);
отобразите регистрационные номера автомобилей, сгруппированные по сумме штрафов в порядке убывания (мы хотим найти тех, кто заплатил самую большую сумму штрафов);
выберите из исходного датафрейма все строки, соответствующие регистрационному номеру с самой большой суммой штрафов (мы хотим проанализировать эти данные более подробно);
вывести на экран таблицу, отвечающую на вопрос: есть ли регистрационные номера, которые были установлены на разных моделях автомобилей?

In [31]:
import pandas as pd
import numpy as np

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
df = pd.read_json(
    '/content/drive/MyDrive/School21/day10/auto.json',
    orient='records'
    )
df

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
1     E432XX77RUS       1   6500.000000  Toyota    Camry
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
720  Y163O8161RUS       2   1600.000000    Ford    Focus
721  M0309X197RUS       1  22300.000000    Ford    Focus
722  O673E8197RUS       2    600.000000    Ford    Focus
723  8610T8154RUS       1   2000.000000    Ford    Focus
724  H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [34]:
df.set_index(keys='CarNumber', drop=True, inplace=True); df #Carnumber в качестве индексного столбца

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

In [35]:
df.query('Fines > 2100')

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

In [36]:
df.query('Fines > 2100 and Refund == 2')

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [37]:
df.query("Model in ['Focus', 'Corolla']")

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [38]:
df.loc[['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']]

              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       1   27000.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    8594.586466  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

In [39]:
df.groupby("Make").agg({'Fines': 'median'})

             Fines
Make
Audi        4200.0
BMW         6500.0
Ford        3500.0
Skoda       3250.0
Toyota      7700.0
Volkswagen  4300.0
Volvo       8500.0

In [40]:
df.groupby(["Make", "Model"]).agg({'Fines': 'median'})

                     Fines
Make       Model
Ford       Focus    3500.0
           Mondeo   7650.0
Skoda      Octavia  3250.0
Toyota     Camry    7700.0
           Corolla  7700.0
Volkswagen Golf     4800.0
           Jetta    2800.0
           Passat   3500.0
           Touareg  5800.0

In [41]:
df.groupby(["Make", "Model"]).agg({'Fines': 'count'})

                    Fines
Make       Model
Ford       Focus      575
           Mondeo       6
Skoda      Octavia     48
Toyota     Camry       16
           Corolla     18
Volkswagen Golf        20
           Jetta        6
           Passat      22
           Touareg      5

In [42]:
df.groupby(["Make", "Model"]).agg({'Fines': 'min'})#минимальный штраф

                     Fines
Make       Model
Ford       Focus     100.0
           Mondeo   1100.0
Skoda      Octavia   300.0
Toyota     Camry     500.0
           Corolla   900.0
Volkswagen Golf      200.0
           Jetta     500.0
           Passat    100.0
           Touareg   500.0

In [43]:
df.groupby(["Make", "Model"]).agg({'Fines': 'max'})#максимальный штраф

                            Fines
Make       Model
Ford       Focus    180000.000000
           Mondeo    46200.000000
Skoda      Octavia  145000.000000
Toyota     Camry     22400.000000
           Corolla   34300.000000
Volkswagen Golf     168000.000000
           Jetta     46000.000000
           Passat    29700.000000
           Touareg    8594.586466

In [44]:
df.groupby(["Make", "Model"]).agg({'Fines': 'std'})#стандартное отклонение штрафов

                           Fines
Make       Model
Ford       Focus    15041.269437
           Mondeo   18987.329108
Skoda      Octavia  24339.742174
Toyota     Camry     6410.250654
           Corolla   9629.325617
Volkswagen Golf     36950.839950
           Jetta    17743.026799
           Passat    6969.739135
           Touareg   3461.778173

In [45]:
df.groupby(['Make', 'Model'])['Fines'].agg(['min','max','std'])

                       min            max           std
Make       Model
Ford       Focus     100.0  180000.000000  15041.269437
           Mondeo   1100.0   46200.000000  18987.329108
Skoda      Octavia   300.0  145000.000000  24339.742174
Toyota     Camry     500.0   22400.000000   6410.250654
           Corolla   900.0   34300.000000   9629.325617
Volkswagen Golf      200.0  168000.000000  36950.839950
           Jetta     500.0   46000.000000  17743.026799
           Passat    100.0   29700.000000   6969.739135
           Touareg   500.0    8594.586466   3461.778173

In [46]:
df.groupby('CarNumber')['Fines'].count().sort_values( ascending=False) #номера автомобилей, сгруппированные по количеству штрафов в порядке убывания, мы хотим найти тех, кто чаще всего нарушал правила дорожного движения

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

In [47]:
df.query("CarNumber in ['Y7689C197RUS','92928M178RUS','7788KT197RUS']") #номерa с самым большим количеством нарушений, мы хотим проанализировать эти данные более подробно

              Refund         Fines  Make  Model
CarNumber
92928M178RUS       1   8594.586466  Ford  Focus
7788KT197RUS       2  12000.000000  Ford  Focus
Y7689C197RUS       1  27000.000000  Ford  Focus
92928M178RUS       1    600.000000  Ford  Focus
7788KT197RUS       2   8594.586466  Ford  Focus
7788KT197RUS       1  20000.000000  Ford  Focus
92928M178RUS       1   1200.000000  Ford  Focus
Y7689C197RUS       2   9000.000000  Ford  Focus
Y7689C197RUS       2  45000.000000  Ford  Focus
7788KT197RUS       2   4000.000000  Ford  Focus
Y7689C197RUS       1  36000.000000  Ford  Focus
92928M178RUS       2   3000.000000  Ford  Focus

In [48]:
df.groupby('CarNumber')['Fines'].sum().sort_values( ascending=False) #номера автомобилей, сгруппированные по сумме штрафов в порядке убывания, мы хотим найти тех, кто заплатил самую большую сумму штрафов

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
83218C154RUS       100.0
Y195O8161RUS       100.0
K376HE161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64

In [49]:
df.query("CarNumber in ['X758HY197RUS']") #номеру с самой большой суммой штрафов, мы хотим проанализировать эти данные более подробно

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [50]:
df.groupby('CarNumber')['Model'].nunique().sort_values( ascending=False) #есть ли регистрационные номера, которые были установлены на разных моделях автомобилей

CarNumber
704687163RUS    1
O719MM163RUS    1
O6939X163RUS    1
O68897197RUS    1
O673E8197RUS    1
               ..
Y687HM197RUS    0
Y693HM197RUS    0
M589CH197RUS    0
H837YK197RUS    0
X023HY197RUS    0
Name: Model, Length: 531, dtype: int64

In [51]:
df.query("CarNumber in ['704687163RUS','O719MM163RUS','O6939X163RUS','O673E8197RUS','O68897197RUS']")

              Refund    Fines  Make  Model
CarNumber
O719MM163RUS       2   2300.0  Ford  Focus
O6939X163RUS       1   7200.0  Ford  Focus
704687163RUS       2   1400.0  Ford  Focus
O68897197RUS       1   8200.0  Ford  Focus
O68897197RUS       2  12300.0  Ford  Focus
O673E8197RUS       2    600.0  Ford  Focus

Проверка

In [52]:
df.loc[df['Model'].isin(['Focus', 'Corolla'])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [53]:
df.groupby(['Make', 'Model']).agg('Fines').count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

ПРОВЕРКА

In [54]:
df.loc[df['Model'].isin(['Focus', 'Corolla'])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [55]:
df.groupby(['Make', 'Model']).agg('Fines').count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

In [56]:
df.groupby('CarNumber')['Fines'].count().sort_values( ascending=False) #номера автомобилей, сгруппированные по количеству штрафов в порядке убывания, мы хотим найти тех, кто чаще всего нарушал правила дорожного движения

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

In [57]:
df.groupby('CarNumber')['Fines'].sum().sort_values( ascending=False) #номера автомобилей, сгруппированные по сумме штрафов в порядке убывания, мы хотим найти тех, кто заплатил самую большую сумму штрафов

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
83218C154RUS       100.0
Y195O8161RUS       100.0
K376HE161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64