Task 3: предварительная обработка
На будущих проектах вы будете снова обучать модели машинного обучения (уже совсем скоро), но для большинства из них требуются очищенные и обработанные данные, без повторов и пропущенных значений. Библиотека Pandas — отличный инструмент для решения подобного рода задач. Она предлагает не только методы выполнения дескриптивного анализа и лучшего понимания данных, но и средства их предварительной обработки. Именно этим вы займетесь в данном упражнении.

Скачайте и прочитайте CSV-файл, сделайте ID столбцом индекса.
Подсчитайте количество наблюдений с помощью метода count().
Удалите дубликаты только в следующих столбцах: CarNumber, Make_n_model, Fines.
Если имеются два и более одинаковых наблюдения, оставьте наблюдение, которое идет по порядку последним.
Снова проверьте количество наблюдений.
Работа с пропущенными значениями
Проверьте, сколько значений отсутствует в каждом столбце.
Удалите все столбцы с более чем 500 пропущенными значениями, используя аргумент thresh.
Замените все пропущенные значения в столбце Refund предыдущим для данной ячейки значением в этом столбце, используйте аргумент method, проверьте, сколько значений теперь отсутствует в каждом столбце.
Замените все пропущенные значения в столбце Fines средним значением этого столбца (исключите значения NA/null при вычислении среднего значения), проверьте теперь количество пропущенных значений в каждом столбце.
Разбейте название марки и модели автомобиля на отдельные столбцы.
Используйте метод apply как для разбиения, так и для извлечения значений в новые колонки Make и Model.
Удалите столбец Make_n_model.
Сохраните датафрейм в JSON-файл auto.json в следующем формате:

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/School21/day10/auto.csv', index_col = 'ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

In [5]:
df.count()#количество наблюдений

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [6]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'],
                   keep='last',
                   inplace=True)#удаляем дубликаты
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
5    92918M178RUS      Ford Focus     1.0   5700.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

In [7]:
df.count()#количество наблюдений

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

In [8]:
df.isna().sum()#отсутствующие значения

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [9]:
df.dropna(axis=1,
          thresh=500,
          inplace=True)#удаляем столбцы с пропущенными значениями
df

        CarNumber    Make_n_model  Refund    Fines
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0
1     E432XX77RUS    Toyota Camry     1.0   6500.0
2     7184TT36RUS      Ford Focus     1.0   2100.0
3    X582HE161RUS      Ford Focus     2.0   2000.0
5    92918M178RUS      Ford Focus     1.0   5700.0
..            ...             ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0
927  M0309X197RUS      Ford Focus     1.0  22300.0
928  O673E8197RUS      Ford Focus     2.0    600.0
929  8610T8154RUS      Ford Focus     1.0   2000.0
930  H419XE197RUS  Toyota Corolla     2.0      NaN

[725 rows x 4 columns]

In [10]:
df.Refund = df.Refund.fillna(method='ffill', axis=0)

In [11]:
df.count()#количество наблюдений

CarNumber       725
Make_n_model    725
Refund          725
Fines           665
dtype: int64

In [12]:
mean_fine = df.Fines.mean()#среднее значение

In [13]:
df.fillna(value={'Fines': mean_fine}, axis=0, inplace=True); df

        CarNumber    Make_n_model  Refund         Fines
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.000000
1     E432XX77RUS    Toyota Camry     1.0   6500.000000
2     7184TT36RUS      Ford Focus     1.0   2100.000000
3    X582HE161RUS      Ford Focus     2.0   2000.000000
5    92918M178RUS      Ford Focus     1.0   5700.000000
..            ...             ...     ...           ...
926  Y163O8161RUS      Ford Focus     2.0   1600.000000
927  M0309X197RUS      Ford Focus     1.0  22300.000000
928  O673E8197RUS      Ford Focus     2.0    600.000000
929  8610T8154RUS      Ford Focus     1.0   2000.000000
930  H419XE197RUS  Toyota Corolla     2.0   8594.586466

[725 rows x 4 columns]

In [14]:
df.isna().sum()#отсутствующие значения

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [15]:
df['count'] = df.apply(lambda x: len(x['Make_n_model'].split()),
                       axis=1)
df.query('count != 2')

        CarNumber Make_n_model  Refund         Fines  count
ID
39   M5039X197RUS   Volkswagen     2.0   7400.000000      1
122  M589CH197RUS   Volkswagen     2.0   7900.000000      1
195  H837YK197RUS         Audi     2.0   4200.000000      1
236  E316EH197RUS   Volkswagen     1.0   1300.000000      1
486  X023HY197RUS        Volvo     2.0  10200.000000      1
554  X023HY197RUS        Volvo     2.0   6800.000000      1
582  Y687HM197RUS          BMW     1.0   8594.586466      1
724  Y693HM197RUS          BMW     2.0   6500.000000      1
778  96907X197RUS          BMW     2.0   3000.000000      1

In [16]:
df.drop(columns='count', inplace=True)

Функция разделения на марку и модель

In [17]:
def split_str(x):
  x = x['Make_n_model'].split()
  if len(x) >= 2:
    return x[0:2]
  else:
    return [x[0],pd.NA]

In [18]:
df[['Make', 'Model']] = df.apply(split_str,
         axis=1,
        result_type='expand')
df

        CarNumber    Make_n_model  Refund         Fines    Make    Model
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.000000    Ford    Focus
1     E432XX77RUS    Toyota Camry     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS      Ford Focus     1.0   2100.000000    Ford    Focus
3    X582HE161RUS      Ford Focus     2.0   2000.000000    Ford    Focus
5    92918M178RUS      Ford Focus     1.0   5700.000000    Ford    Focus
..            ...             ...     ...           ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.000000    Ford    Focus
927  M0309X197RUS      Ford Focus     1.0  22300.000000    Ford    Focus
928  O673E8197RUS      Ford Focus     2.0    600.000000    Ford    Focus
929  8610T8154RUS      Ford Focus     1.0   2000.000000    Ford    Focus
930  H419XE197RUS  Toyota Corolla     2.0   8594.586466  Toyota  Corolla

[725 rows x 6 columns]

In [19]:
df.isna().sum()#отсутствующие значения

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
Make            0
Model           9
dtype: int64

In [20]:
df.drop(columns='Make_n_model', inplace=True); df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [21]:
df.to_json('/content/drive/MyDrive/School21/day10/auto.json', orient='records')#сохраняем датафрейм в формате json

ПРОВЕРКА

In [22]:
df = pd.read_json('/content/drive/MyDrive/School21/day10/auto.json', orient = 'records')
df

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
1     E432XX77RUS       1   6500.000000  Toyota    Camry
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
720  Y163O8161RUS       2   1600.000000    Ford    Focus
721  M0309X197RUS       1  22300.000000    Ford    Focus
722  O673E8197RUS       2    600.000000    Ford    Focus
723  8610T8154RUS       1   2000.000000    Ford    Focus
724  H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [23]:
df.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [24]:
df['Fines'].mean()

8594.586466165412

In [25]:
df['Refund'].mean()

1.5172413793103448